
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #171a21;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 95%;
  margin: auto;
}

header {
  width: 100%;
  position: relative;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo a {
  color: #fff;
  font-size: 35px;
}

.nav-items {
  list-style: none;
}

.nav-item {
  display: inline-block;
  margin: 0 20px;
}

.nav-item a {
  font-weight: bold;
  color: #50a2d1;
  font-size: 12px;
  transition: 0.6s;
}

.active {
  background-color: rgba(93, 91, 91, 0.336);
  padding: 10px;
}

.nav-right-content {
  position: relative;
}


.nav-search-input {
  height: 30px;
  background-color: transparent;
  border: none;
  padding-left: 30px;
  color: #fff;
  cursor: pointer;
  height: 35px;
  border-radius: 5px;
}

.nav-search-input:focus {
  outline: 1px solid #50a2d1
}

.nav-search-input::placeholder {
  color:#50a2d1;
  font-size: 12px;
}


.nav-right-content i {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #564a44 !important;
  font-size: 20px;

}

.middle-section {
  width: 90px;
}

.sidebar {
  width: 90px;
  height: 100vh;
  background-color: #0f1215;;
  position: fixed;
  right: 0;
  transition: 0.7s;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}


.greater-less-icons > i {
  color: #fff;
  font-size: 20px;
  margin-top: 15px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.greater {
  display: none;  
}

.sidebar-icons {
  width: 100%;
  margin-top: 100px;
}

.fa-magnifying-glass{
  color: green !important
}

.sidebar-discover {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 35px;
  cursor: pointer;
  transition: 0.6s;
}
.sidebar-discover i {
  color: #fff;
  font-size: 20px;
}

.sidebar-span {
  display: none;
  color: #fff;
  margin-left: 5px;
  transition: 0.6s;
}

.sidebar-span:hover {
  padding: 5px;
  background-color: #444;
}

.fa-fire{
  color: yellow !important
}

.fa-download {
  color: rgb(50, 252, 50) !important
}

.fa-heart {
  color: red !important
}

.fa-bell {
  color: pink !important;
}



.sidebar-register {
  margin-top: 70px;
}

.sidebar-register-btn {
  width: 70px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #50a2d1;
  color: #fff;
  cursor: pointer;
  transition: 0.6s;
}

.sidebar-log-in {
  margin-top: 20px;
}


.sidebar-log-in-btn {
  width: 70px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #50a2d1;
  color: #fff;
  cursor: pointer;
  transition: 0.6s;
}

.sidebar-user {
  margin-top: 100px;
  display: none;
}

.sidebar-user img {
  width: 80px;
}

.user-name {
  color:#fff;
  text-align: center;
  font-size: 25px;
  display: block;
  margin: auto;
}

.sidebar-log-out {
  position: absolute;
  right: 10px;
  top: 25px;
  display: none;
}

.sidebar-log-out i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}






main {
  margin-top: 30px;
  margin-right: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movie {
  width: 290px;
  height: 430px;
  background-repeat: no-repeat;
  background-size: 300px 400px;
  transition: 0.4s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.movie img {
  width: 100%;
  height: 90%;
}


.movie-info {
  margin-top: -3px;
  display: flex;
  justify-content: space-between;
  height: 35px;
  align-items: center;
  background-color: #30343e;
  color: #fff;
  padding: 10px;
}

.movie-info h3 {
  font-size: 15px;
}

.movie-info span {
  font-size: 20px;
}

.overview {
  background-color: #171a21;
  color: #fff;
  border: 1px solid #fff;
  position: absolute;
  left: 0;
  right:0;
  bottom: 0;
  padding: 16px;
  transition: 0.6s;
  transform: translateY(101%);
  visibility: hidden;
  opacity: 0;
}

 .movie:hover .overview {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.hamburger-content {
  display: none;
  cursor: pointer;
}

.hamburger-content i {
  color: #fff;
  font-size: 25px
}

.register-form {
  padding: 20px;
  z-index: 999;
  border-radius: 15px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 450px;
  background-color: rgb(46, 50, 50);
  display: none;
}

.register-form h1 {
  text-align: center;
  color: #fff;
  padding-top: 10px;
  font-size: 25px;
}

.register input {
  width: 100%;
  height: 35px;
  margin: 15px 0;
  margin-top: 25px;
  padding-left: 10px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #444;
  color: #fff;
  font-size: 16px;
}

.register input:focus {
  outline: none;
}

.register input::placeholder {
  font-size: 15px;
}

.register-button {
  cursor: pointer;
  width: 50%;
  height: 35px;
  display: block;
  margin: auto;
  margin-top: 10px;
  background-color: #444;
  border: none;
  font-size: 16px;
  color: #fff;
}



.log-in-form {
  z-index: 999;
  border-radius: 15px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 450px;
  background-color: rgb(46, 50, 50);
  display: none;
}

.log-in-form-icon {
  width: 110px;
  height: 110px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin:20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon-reg {
  width: 150px;
  display: block;
}

.log-in-span {
  color: #fff;
  font-size: 25px;
  text-align: center;
  display: block;
  margin: auto;
  overflow: hidden;
}

.log-in-span::before,.log-in-span::after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 25%;
}

.log-in-span::before {
  right: 10px
}
.log-in-span::after {
  left: 10px
}

.log-in-inputs {
  margin-top: 30px;
}

.log-in-input {
  display: block;
  margin: auto;
  width: 300px;
  margin-top: 20px;
  height: 35px;
  padding-left: 10px;
}

.log-in-input:focus {
  outline: none;
}

.forgot-password a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  display: block;
  margin-left: auto;
  text-align: right;
  margin-right: 50px;
  margin-top: 10px;
}

.log-in-btn {
  display: block;
  margin:20px auto;
  width:300px;
  height: 35px;
  background-color: #444;
  border: none;
  color: #fff;
  cursor: pointer;
}

.remove-log-in-form {
  position: absolute;
  top: 5%;
  right: 5%;
}

.remove-log-in-form i {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}


.tags {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 30px 0;
}

.tag {
  color: #fff;
  padding: 5px 15px;
  border: 1px solid #d8dbdd;
  border-radius: 10px;
  cursor: pointer;
  margin: 7px;
  transition: 0.6s;
  font-size: 13px;
}

.tag:hover {
  background-color: #fff;
  color: #0f1215;
}

@media screen and (max-width: 1313px) {
  .movie {
    width: 350px;
  }
}

@media screen and (max-width: 1230px) {
  .movie {
    width: 330px;
  }
}

@media screen and (max-width: 1151px) {
  .movie {
    width: 300px;
  }
}

@media screen and (max-width: 1074px) {
  .movie {
    width: 270px;
  }
  .nav-logo a {
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {
  .nav-item a {
    font-size: 10px;
  }
  .movie {
    width: 250px;
  }
}

@media screen and (max-width: 930px) {
  .nav-logo a {
    font-size: 25px;
  }
  .movie {
    width: 350px;
    margin: 15px
  }
  main {
    justify-content: center;
  }
}

@media screen and (max-width: 893px) {
  .nav-right-content {
    display: none;
  }
  .movie {
    width: 300px;
  }
  main {
    justify-content: space-around;
  }
  .hamburger-content {
    display: block;
  }
  .nav-links {
    display: none;
  }
  .nav-items {
    position: absolute;
    right:  0;
    top: 80px;
    z-index: 99;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    width: 150px;
  }
  .nav-item  { 
    margin-bottom: 15px;
  }
}


@media screen and (max-width:797px) {
  .movie {
    width: 270px;
  }
  main {
    justify-content: space-between;
  }
  .movie {
    width: 250px;
  }
  .tags {
    justify-content: flex-start;
  }
  .tag {
    padding: 5px 15px;
  }
}


@media screen and (max-width:682px) {
  .movie {
    margin: auto;
    width: 70%;
    margin-bottom: 15px;
  }
  .tags {
    width: 80%;
  }
}


@media screen and (max-width: 570px) {
  .nav-logo a {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .movie {
    width: 90%;
  }
  .nav-search-input {
    width: 130px;
  }
  .hamburger-content {
    margin-right: 20px;
  }
}

@media screen and (max-width: 444px) {
  .nav-right-content {
    position: absolute;
    top: 230px;
    right: 105px;
    z-index: 300;
    display: none;
  }
  .nav-right-content input {
    color: #000;
  }
}
